# Lab 5

## 1) Import the file tmdb_5000.csv into pandas.  Ascertain how many rows (and which ones) are duplicates.  Print this information (both the count and the row information for all duplicates), and then delete the duplicated rows.

In [29]:
import pandas as pd, numpy as np

movies = pd.read_csv("tmdb_5000.csv")
dupes = movies[movies.duplicated()]
print("There are ",len(dupes),"duplicate records:")
print()
print(dupes)

movies = movies.drop_duplicates()

There are  11 duplicate records:

           budget                                             genres  \
1574      75000.0           [{"id": 878, "name": "Science Fiction"}]
1721          0.0  [{"id": 14, "name": "Fantasy"}, {"id": 35, "na...
3192   14000000.0  [{"id": 10749, "name": "Romance"}, {"id": 35, ...
3266   27000000.0  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3616   80000000.0  [{"id": 878, "name": "Science Fiction"}, {"id"...
3710    2000000.0                   [{"id": 53, "name": "Thriller"}]
3881   55000000.0  [{"id": 53, "name": "Thriller"}, {"id": 18, "n...
4244          0.0                      [{"id": 18, "name": "Drama"}]
4333   40000000.0  [{"id": 18, "name": "Drama"}, {"id": 10752, "n...
4574   11000000.0  [{"id": 18, "name": "Drama"}, {"id": 53, "name...
4779  120000000.0  [{"id": 28, "name": "Action"}, {"id": 10751, "...

                                            homepage        id  \
1574                                             NaN  360188.0
1721                                             NaN   37718.0
3192                                             NaN     114.0
3266                                             NaN   79698.0
3616                                             NaN    4858.0
3710  http://www.screenmedia.net/project/shark-lake/  299553.0
3881                                             NaN    9315.0
4244                                             NaN   12838.0
4333              http://www.childrenofhuangshi.com/   13405.0
4574                                             NaN   12149.0
4779   http://www.speedracerthemovie.warnerbros.com/    7459.0

                                               keywords original_language  \
1574  [{"id": 1299, "name": "monster"}, {"id": 9970,...                en
1721  [{"id": 888, "name": "screenwriter"}, {"id": 9...                en
3192  [{"id": 549, "name": "prostitute"}, {"id": 592...                en
3266                                                 []                en
3616  [{"id": 9714, "name": "remake"}, {"id": 9951, ...                en
3710  [{"id": 1889, "name": "lake"}, {"id": 2988, "n...                en
3881  [{"id": 220, "name": "berlin"}, {"id": 1872, "...                en
4244  [{"id": 254, "name": "france"}, {"id": 4048, "...                fr
4333  [{"id": 9672, "name": "based on true story"}, ...                zh
4574  [{"id": 290, "name": "angel"}, {"id": 798, "na...                en
4779  [{"id": 830, "name": "car race"}, {"id": 963, ...                en

      original_title                                           overview  \
1574      Queen Crab  A meteor crashes into a quiet lake in the remo...
1721        The Muse  What happens when a screenwriter (Brooks) lose...
3192    Pretty Woman  When millionaire wheeler-dealer Edward Lewis e...
3266      The Lovers  The Lovers is an epic romance time travel adve...
3616    The Invasion  Washington, D.C. psychologist Carol Bennell an...
3710      Shark Lake  Meredith Hendricks happens to be the best cop ...
3881      Flightplan  A claustrophobic, Hitchcockian thriller. A ber...
4244  Chacun sa nuit  A story about bunch of people who live in a to...
4333           黃石的孩子  About young British journalist, George Hogg, w...
4574         Frailty  A man confesses to an FBI agent his family's s...
4779     Speed Racer  Speed Racer is the tale of a young and brillia...

      popularity                               production_companies  \
1574    0.140989  [{"name": "Polonia Brothers Entertainment", "i...
1721    2.857936             [{"name": "October Films", "id": 236}]
3192   45.473484  [{"name": "Touchstone Pictures", "id": 9195}, ...
3266    2.418535  [{"name": "Corsan", "id": 7299}, {"name": "Bli...
3616   15.673154  [{"name": "Village Roadshow Pictures", "id": 7...
3710    1.187764  [{"name": "FLF Films", "id": 36684}, {"name": ...
3881   32.051450  [{"name": "Imagine Entertainment", "id": 23}, ...
4244    4.665026  [{"name": "R\u00e9gion Provence C\u00f4te d'Az...
4333    8.978408  [{"name": "Australian Film Finance Corporation...
4574   16.003958  [{"name": "Cinerenta Medienbeteiligungs KG", "...
4779   17.060695  [{"name": "Village Roadshow Pictures", "id": 7...

                                   production_countries release_date  \
1574  [{"iso_3166_1": "US", "name": "United States o...   2015-09-29
1721  [{"iso_3166_1": "US", "name": "United States o...   1999-08-27
3192  [{"iso_3166_1": "US", "name": "United States o...   1990-03-23
3266  [{"iso_3166_1": "AU", "name": "Australia"}, {"...   2015-02-13
3616  [{"iso_3166_1": "US", "name": "United States o...   2007-08-17
3710  [{"iso_3166_1": "US", "name": "United States o...   2015-10-02
3881  [{"iso_3166_1": "US", "name": "United States o...   2005-09-22
4244           [{"iso_3166_1": "FR", "name": "France"}]   2006-07-21
4333  [{"iso_3166_1": "AU", "name": "Australia"}, {"...   2008-07-03
4574  [{"iso_3166_1": "DE", "name": "Germany"}, {"is...   2001-11-17
4779  [{"iso_3166_1": "AU", "name": "Australia"}, {"...   2008-05-09

          revenue  runtime                                   spoken_languages  \
1574          0.0     90.0           [{"iso_639_1": "en", "name": "English"}]
1721          0.0     97.0           [{"iso_639_1": "en", "name": "English"}]
3192  463000000.0    119.0  [{"iso_639_1": "en", "name": "English"}, {"iso...
3266          0.0    109.0           [{"iso_639_1": "en", "name": "English"}]
3616   15071514.0     99.0  [{"iso_639_1": "ru", "name": "P\u0443\u0441\u0...
3710          0.0     92.0           [{"iso_639_1": "en", "name": "English"}]
3881  223387299.0     98.0  [{"iso_639_1": "ar", "name": "\u0627\u0644\u06...
4244          0.0     95.0     [{"iso_639_1": "fr", "name": "Fran\u00e7ais"}]
4333    7400000.0    125.0                                                NaN
4574   13110448.0    100.0           [{"iso_639_1": "en", "name": "English"}]
4779   93945766.0    135.0           [{"iso_639_1": "en", "name": "English"}]

        status                                            tagline  \
1574  Released                                                NaN
1721  Released                               In Goddess we trust.
3192  Released        Who knew it was so much fun to be a hooker?
3266  Released                          Love is longer than life.
3616  Released  Do not trust anyone. Do not show emotion. Do n...
3710  Released          In this lake you have to fight to survive
3881  Released  If Someone Took Everything You Live For... How...
4244  Released                                                NaN
4333  Released   War made them orphans, one man made them legends
4574  Released                                   No Soul Is Safe.
4779  Released                                                Go!

                          title  vote_average  vote_count
1574                 Queen Crab           3.3         3.0
1721                   The Muse           5.3        31.0
3192               Pretty Woman           7.0      1746.0
3266                 The Lovers           4.8        34.0
3616               The Invasion           5.7       359.0
3710                 Shark Lake           4.4        19.0
3881                 Flightplan           6.1       772.0
4244             One to Another           5.8        12.0
4333  The Children of Huang Shi           6.5        52.0
4574                    Frailty           7.0       334.0
4779                Speed Racer           5.7       354.0

## 2) Using .unique(), .describe(), .dropna(), and/or other tools, report what percentage of the total values are missing/NaN for each column.

Example for formatting (numbers are made up):

budget: 2%

genres: 1%

homepage: 5%

...

In [30]:
cols_missing_20 = []

for col in movies.columns:
    missing=(len(movies)-len(movies[col].dropna()))/len(movies)*100
    print(col+":",str(missing)+"%")
    if missing >= 20:
        cols_missing_20.append(col)

budget: 5.036269430051814%
genres: 4.974093264248705%
homepage: 65.65803108808291%
id: 3.6683937823834194%
keywords: 2.673575129533679%
original_language: 5.948186528497409%
original_title: 2.155440414507772%
overview: 5.347150259067358%
popularity: 4.725388601036269%
production_companies: 2.9430051813471505%
production_countries: 5.865284974093264%
release_date: 4.145077720207254%
revenue: 5.409326424870466%
runtime: 5.3886010362694305%
spoken_languages: 4.020725388601036%
status: 4.248704663212435%
tagline: 20.331606217616578%
title: 2.5906735751295336%
vote_average: 3.461139896373057%
vote_count: 2.4041450777202074%

## 3) Again, using .unique(), .describe(), .dropna() and/or other tools (you may find .dropna() useful here with the thresh argument), report how many rows are missing 1 column of data, 2 columns, etc.

Example for formatting (numbers are made up):

Rows missing 1 or fewer fields: 4740

Rows missing 2 or fewer fields: 3501

...

In [31]:
for i in range(1, len(movies.columns)+1):
    print("Rows missing",i,"or fewer fields:",len(movies.dropna(thresh=len(movies.columns)-i)))

Rows missing 1 or fewer fields: 2392
Rows missing 2 or fewer fields: 3937
Rows missing 3 or fewer fields: 4595
Rows missing 4 or fewer fields: 4791
Rows missing 5 or fewer fields: 4823
Rows missing 6 or fewer fields: 4825
Rows missing 7 or fewer fields: 4825
Rows missing 8 or fewer fields: 4825
Rows missing 9 or fewer fields: 4825
Rows missing 10 or fewer fields: 4825
Rows missing 11 or fewer fields: 4825
Rows missing 12 or fewer fields: 4825
Rows missing 13 or fewer fields: 4825
Rows missing 14 or fewer fields: 4825
Rows missing 15 or fewer fields: 4825
Rows missing 16 or fewer fields: 4825
Rows missing 17 or fewer fields: 4825
Rows missing 18 or fewer fields: 4825
Rows missing 19 or fewer fields: 4825
Rows missing 20 or fewer fields: 4825

## 4) Print which columns are missing 20% or more of their data, and then delete them.

In [32]:
print("Columns missing 20% or more of their data:")
for col in cols_missing_20:
    print(col)
    del movies[col]

Columns missing 20% or more of their data:
homepage
tagline

## 5) Print how many rows are missing 3 or more fields of data, and then delete them.

In [53]:
print(len(movies.columns))
print("There are",len(movies)-len(movies.dropna(thresh=len(movies.columns)-3)),"with 3 or more fields missing.")
movies = movies.dropna(thresh = 15)

18
There are 16 with 3 or more fields missing.

## 6) Good news! A non-corrupted version of some of the data has been found.  Import "tmdb2.csv" into pandas as a dataframe, and use .merge() to combine it with the dataframe you've been cleaning.

In [56]:
movies2 = pd.read_csv("tmdb2.csv")
new_movies = pd.merge(movies, movies2, on = 'id')

## Extra:
## 7) Hm, that makes a dataframe with a lot of redundant columns.  Try using .combine_first() instead -- the syntax is as follows: df1.combine_first(df2), with the first dataframe as the one you've been cleaning.  How is the resulting dataframe different from the one generated from.merge()?

In [58]:
new_movies2 = movies.combine_first(movies2)

print(new_movies2.columns)

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

The .combine_first() generated dataframe has only one set of columns, with missing values from the first dataset populated from teh second dataset.